## Akash
## 12/11/2021

Q.Write a program in python to create a table in sql using the functions taught today (Create, Update, Modify, Alter, Insert into, delete etc.)

In [10]:
import sqlite3 as sql

In [11]:
conn=sql.connect("sample.db")

In [12]:
cursor=conn.cursor()

In [13]:
query='''CREATE TABLE Aspirant(Frist_name char(20) not null,Last_name char(20),Age int)''' #CREATE table sql query

In [17]:
insert='''INSERT INTO Aspirant(Frist_name,Last_name,Age) VALUES(?,?,?)'''

In [18]:
val=("Akash Krishna","P M",23)

In [19]:
cursor.execute(insert,val)

In [22]:
cursor.execute('''SELECT * from Aspirant''')

In [23]:
result=cursor.fetchall()

In [24]:
print(result)

[('Akash Krishna', 'P M', 23)]

In [28]:
update="UPDATE Aspirant SET Frist_name='1st_name'"

In [29]:
cursor.execute(update) #UPDATE sql function

In [30]:
data=cursor.execute('''SELECT * FROM Aspirant''')
for column in data.description:
    print(column[0])

Frist_name
Last_name
Age

In [31]:
data=cursor.execute('''SELECT * FROM Aspirant''')
for row in data:
    print(row)

('1st_name', 'P M', 23)

In [32]:
insert='''INSERT INTO Aspirant(Frist_name,Last_name,Age) VALUES(?,?,?)'''
val=("P M","Modi",60)
cursor.execute(insert,val)

In [40]:
#ALTER query

In [43]:
alter="ALTER TABLE Aspirant ADD Column skill char(10)"
cursor.execute(alter)

In [44]:
data=cursor.execute('''SELECT * FROM Aspirant''')
for column in data.description:
    print(column[0])

1st_name
Last_name
Age
Tech
skill

In [38]:
rename="ALTER TABLE Aspirant RENAME COLUMN Frist_name TO '1st_name'"
cursor.execute(rename)

In [45]:
data=cursor.execute('''SELECT * FROM Aspirant''')
for column in data.description:
    print(column[0])

1st_name
Last_name
Age
Tech
skill

In [46]:
#DELETE query
delt='''DELETE FROM Aspirant where Age=60'''
cursor.execute(delt)

In [47]:
data=cursor.execute('''SELECT * FROM Aspirant''')
for row in data:
    print(row)

('1st_name', 'P M', 23, None, None)

In [48]:
#DELETE query
delt='''DELETE FROM Aspirant where Age<30'''
cursor.execute(delt)

In [50]:
data=cursor.execute('''SELECT * FROM Aspirant''')
for row in data:
    print(row)

In [51]:
conn.commit()

In [52]:
conn.close()