### Akash 
#### 17-12-2021

In [2]:
import pandas as pd
import numpy as np

## section- **1**

### using pandas, from the list below create a series and print to the console

>stocks = ['PLW', 'CDR', '11B', 'TEN']

In [3]:
stocks_arr=np.array(['PLW','CDR','11B','TEN'])
stocks=pd.Series(stocks_arr)
print(stocks)

0    PLW
1    CDR
2    11B
3    TEN
dtype: object

### using pandas,from the dictionary below create a pandas series and print it to the console

>stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}

In [4]:
stocks_dict = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
stocks_series=pd.Series(stocks_dict)
print (stocks_series)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

### the following series is given,convert it to a python list and print the list to the console.

>PLW    387.0  
CDR    339.5  
TEN    349.5  
11B    391.0  
dtype: float64

>using tolist()

In [5]:

stock_list=stocks_series.tolist()
print (stock_list)

[387.0, 339.5, 349.5, 391.0]

### the following series is given, convert it to a dataframe and set the column name to "price"

>PLW    387.0  
CDR    339.5  
TEN    349.5  
11B    391.0  
dtype: float64

In [11]:
stocks_series[0]

387.0

In [13]:
stocks_df=pd.DataFrame(data=stocks_series,columns=['price'])

In [14]:
stocks_df

     price
PLW  387.0
CDR  339.5
TEN  349.5
11B  391.0

### using numpy and pandas, create the following series

>101      10.0  
102      20.0  
103      30.0  
104      40.0  
105      50.0  
106      60.0  
107      70.0  
108      80.0  
109      90.0  
dtype: float64

In [15]:
dition={'101':10.0,'102':20.0,'103':30.0,'104':40.0,'105':50.0,'106':60.0,'107':70.0,'108':80.0,'109':90.0}

In [16]:
serees=pd.Series(dition)

In [17]:
serees

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64

In [18]:
data=np.arange(10.0,90.0,10.0)

In [19]:
index=np.arange(101,109)

In [20]:
ser=pd.Series(data,index)

In [21]:
ser

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
dtype: float64

In [22]:
print(ser)

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
dtype: float64

### following series is given, convert it to int type and print to the console

In [24]:
list('abcd')

['a', 'b', 'c', 'd']

```
series = pd.Series(['001', '002', '003', '004'], list('abcd'))
```

> using to_numeric()

In [25]:
series = pd.Series(['001', '002', '003', '004'], list('abcd'))

In [27]:
series

a    001
b    002
c    003
d    004
dtype: object

In [26]:
pd.to_numeric(series)

a    1
b    2
c    3
d    4
dtype: int64

> using astype()

In [29]:
series.astype(dtype=int)

a    1
b    2
c    3
d    4
dtype: int32

### the following series is given, add two elements to this series.

> key:"BBT",value:25.5  
key:"F51",value:19.2

```
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
```

>using append()

In [45]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
quot=quotations

In [46]:
quotations

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

In [47]:
q=pd.Series([25.5,19.2],['BBT','F51'])

In [48]:
quot.append(q)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64

> using dict key value

In [50]:
additional_stocks={'BBT':25.5,'F51':19.2}
ast=pd.Series(additional_stocks)
quotations.append(ast)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64

### the following series is given,convert it to a dataframe and rest the index and set column names to "ticker" and "price"

```
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0, 'BBT': 25.5, 'F51': 19.2}
quotations = pd.Series(data=stocks)
```

In [51]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0, 'BBT': 25.5, 'F51': 19.2}

In [52]:
quotations = pd.Series(data=stocks)

In [66]:
quotations[0]

387.0

In [79]:
qdf=pd.DataFrame(quotations)

In [80]:
qdf

         0
PLW  387.0
CDR  339.5
TEN  349.5
11B  391.0
BBT   25.5
F51   19.2

In [81]:
qdf.reset_index(inplace=True)

In [73]:
qdf

  index      0
0   PLW  387.0
1   CDR  339.5
2   TEN  349.5
3   11B  391.0
4   BBT   25.5
5   F51   19.2

In [83]:
qdf.rename(columns={"index":"ticker",0:"price"})

  ticker  price
0    PLW  387.0
1    CDR  339.5
2    TEN  349.5
3    11B  391.0
4    BBT   25.5
5    F51   19.2

### create the following dataframe and print to the console

| |company|price|ticker|
|---|---|---|---|
0|Amazon|2375.0|AMZN.US  
1|Microsoft|178.6|MSFT.US  
2|Facebook|179.2|FB.US

In [101]:
df={'company':['Amazon','Microsoft','Facebook'],
    'price':[2375.0,178.6,179.2],
    'ticker':['AMZN.US','MSFT.US','FB.US']
   }
df

{'company': ['Amazon', 'Microsoft', 'Facebook'],
 'price': [2375.0, 178.6, 179.2],
 'ticker': ['AMZN.US', 'MSFT.US', 'FB.US']}

In [102]:
df=pd.DataFrame(df)

In [103]:
df

     company   price   ticker
0     Amazon  2375.0  AMZN.US
1  Microsoft   178.6  MSFT.US
2   Facebook   179.2    FB.US

### convert the first column of dataframe to index and print to the console

| |company|price|ticker|
|---|---|---|---|
0|Amazon|2375.0|AMZN.US  
1|Microsoft|178.6|MSFT.US  
2|Facebook|179.2|FB.US

In [104]:
df[df.columns[0]]

0       Amazon
1    Microsoft
2     Facebook
Name: company, dtype: object

In [109]:
df.set_index(['company'],inplace=True)

In [110]:
df

            price   ticker
company
Amazon     2375.0  AMZN.US
Microsoft   178.6  MSFT.US
Facebook    179.2    FB.US

## section- **2**

### create datetimeindex object containg ```yyyy-mm-dd``` format dates for all dates for dec 2021 and print it to the console

```
DatetimeIndex(['2021-12-01', '2021-12-02', '2021-12-03', '2021-12-04',
               '2021-12-05', '2021-12-06', '2021-12-07', '2021-12-08',
               '2021-12-09', '2021-12-10', '2021-12-11', '2021-12-12',
               '2021-12-13', '2021-12-14', '2021-12-15', '2021-12-16',
               '2021-12-17', '2021-12-18', '2021-12-19', '2021-12-20',
               '2021-12-21', '2021-12-22', '2021-12-23', '2021-12-24',
               '2021-12-25', '2021-12-26', '2021-12-27', '2021-12-28',
               '2021-12-29', '2021-12-30', '2021-12-31'],
              dtype='datetime64[ns]', freq='D')
              ```

> using date_range()

In [111]:
date=pd.date_range(start="2021-12-01",periods=31)
print(date)

DatetimeIndex(['2021-12-01', '2021-12-02', '2021-12-03', '2021-12-04',
               '2021-12-05', '2021-12-06', '2021-12-07', '2021-12-08',
               '2021-12-09', '2021-12-10', '2021-12-11', '2021-12-12',
               '2021-12-13', '2021-12-14', '2021-12-15', '2021-12-16',
               '2021-12-17', '2021-12-18', '2021-12-19', '2021-12-20',
               '2021-12-21', '2021-12-22', '2021-12-23', '2021-12-24',
               '2021-12-25', '2021-12-26', '2021-12-27', '2021-12-28',
               '2021-12-29', '2021-12-30', '2021-12-31'],
              dtype='datetime64[ns]', freq='D')

In [112]:
date

DatetimeIndex(['2021-12-01', '2021-12-02', '2021-12-03', '2021-12-04',
               '2021-12-05', '2021-12-06', '2021-12-07', '2021-12-08',
               '2021-12-09', '2021-12-10', '2021-12-11', '2021-12-12',
               '2021-12-13', '2021-12-14', '2021-12-15', '2021-12-16',
               '2021-12-17', '2021-12-18', '2021-12-19', '2021-12-20',
               '2021-12-21', '2021-12-22', '2021-12-23', '2021-12-24',
               '2021-12-25', '2021-12-26', '2021-12-27', '2021-12-28',
               '2021-12-29', '2021-12-30', '2021-12-31'],
              dtype='datetime64[ns]', freq='D')

### create datetimeindex object containg ```yyyy-mm-dd``` format dates for all mondays for 2021 and print it to the console

```
DatetimeIndex(['2021-01-04', '2021-01-11', '2021-01-18', '2021-01-25',
               '2021-02-01', '2021-02-08', '2021-02-15', '2021-02-22',
               '2021-03-01', '2021-03-08', '2021-03-15', '2021-03-22',
               '2021-03-29', '2021-04-05', '2021-04-12', '2021-04-19',
               '2021-04-26', '2021-05-03', '2021-05-10', '2021-05-17',
               '2021-05-24', '2021-05-31', '2021-06-07', '2021-06-14',
               '2021-06-21', '2021-06-28', '2021-07-05', '2021-07-12',
               '2021-07-19', '2021-07-26', '2021-08-02', '2021-08-09',
               '2021-08-16', '2021-08-23', '2021-08-30', '2021-09-06',
               '2021-09-13', '2021-09-20', '2021-09-27', '2021-10-04',
               '2021-10-11', '2021-10-18', '2021-10-25', '2021-11-01',
               '2021-11-08', '2021-11-15', '2021-11-22', '2021-11-29',
               '2021-12-06', '2021-12-13', '2021-12-20', '2021-12-27'],
              dtype='datetime64[ns]', freq='W-MON')
              ```

In [118]:
mdate=pd.date_range(start='2021-01-01',end='2021-12-31',freq='W-MON')

In [119]:
print(mdate)

DatetimeIndex(['2021-01-04', '2021-01-11', '2021-01-18', '2021-01-25',
               '2021-02-01', '2021-02-08', '2021-02-15', '2021-02-22',
               '2021-03-01', '2021-03-08', '2021-03-15', '2021-03-22',
               '2021-03-29', '2021-04-05', '2021-04-12', '2021-04-19',
               '2021-04-26', '2021-05-03', '2021-05-10', '2021-05-17',
               '2021-05-24', '2021-05-31', '2021-06-07', '2021-06-14',
               '2021-06-21', '2021-06-28', '2021-07-05', '2021-07-12',
               '2021-07-19', '2021-07-26', '2021-08-02', '2021-08-09',
               '2021-08-16', '2021-08-23', '2021-08-30', '2021-09-06',
               '2021-09-13', '2021-09-20', '2021-09-27', '2021-10-04',
               '2021-10-11', '2021-10-18', '2021-10-25', '2021-11-01',
               '2021-11-08', '2021-11-15', '2021-11-22', '2021-11-29',
               '2021-12-06', '2021-12-13', '2021-12-20', '2021-12-27'],
              dtype='datetime64[ns]', freq='W-MON')

### create datetimeindex object containg dates in the format```yyyy-mm-dd  hh:mm:ss``` for jan 2021 with a time interval of 1H and print it to the console

```
DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 01:00:00',
               '2021-01-01 02:00:00', '2021-01-01 03:00:00',
               '2021-01-01 04:00:00', '2021-01-01 05:00:00',
               '2021-01-01 06:00:00', '2021-01-01 07:00:00',
               '2021-01-01 08:00:00', '2021-01-01 09:00:00',
               '2021-01-01 10:00:00', '2021-01-01 11:00:00',
               '2021-01-01 12:00:00', '2021-01-01 13:00:00',
               '2021-01-01 14:00:00', '2021-01-01 15:00:00',
               '2021-01-01 16:00:00', '2021-01-01 17:00:00',
               '2021-01-01 18:00:00', '2021-01-01 19:00:00',
               '2021-01-01 20:00:00', '2021-01-01 21:00:00',
               '2021-01-01 22:00:00', '2021-01-01 23:00:00'],
              dtype='datetime64[ns]', freq='H')
              ```

In [140]:
dat1h=pd.date_range(start='2021-01-01',periods=24,freq='H')

In [141]:
dat1h

DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 01:00:00',
               '2021-01-01 02:00:00', '2021-01-01 03:00:00',
               '2021-01-01 04:00:00', '2021-01-01 05:00:00',
               '2021-01-01 06:00:00', '2021-01-01 07:00:00',
               '2021-01-01 08:00:00', '2021-01-01 09:00:00',
               '2021-01-01 10:00:00', '2021-01-01 11:00:00',
               '2021-01-01 12:00:00', '2021-01-01 13:00:00',
               '2021-01-01 14:00:00', '2021-01-01 15:00:00',
               '2021-01-01 16:00:00', '2021-01-01 17:00:00',
               '2021-01-01 18:00:00', '2021-01-01 19:00:00',
               '2021-01-01 20:00:00', '2021-01-01 21:00:00',
               '2021-01-01 22:00:00', '2021-01-01 23:00:00'],
              dtype='datetime64[ns]', freq='H')

### create the following dataframe and print to the console

| |day|day_of_year|
|---|---|---|
|0|2021-03-01|60|
1  |2021-03-02|           61
2  |2021-03-03|           62
3  |2021-03-04|          63
4  |2021-03-05|           64
5  |2021-03-06|           65
6  |2021-03-07|           66
7  |2021-03-08|           67
8  |2021-03-09|           68
9  |2021-03-10|           69
10 |2021-03-11|           70
11 |2021-03-12|           71
12 |2021-03-13|           72
13 |2021-03-14|           73
14 |2021-03-15|           74
15 |2021-03-16|           75
16 |2021-03-17|           76
17 |2021-03-18|           77
18 |2021-03-19|           78
19 |2021-03-20|           79
20 |2021-03-21|           80
21 |2021-03-22|           81
22 |2021-03-23|           82
23 |2021-03-24|           83
24 |2021-03-25|           84
25 |2021-03-26|           85
26 |2021-03-27|           86
27 |2021-03-28|           87
28 |2021-03-29|           88
29 |2021-03-30|          89
30 |2021-03-31|           90

In [160]:
day=pd.date_range(start='2021-03-01',periods=31).to_series()

In [179]:
day_of_year=day.dt.dayofyear
s=pd.Series(day_of_year)

In [180]:
s

2021-03-01    60
2021-03-02    61
2021-03-03    62
2021-03-04    63
2021-03-05    64
2021-03-06    65
2021-03-07    66
2021-03-08    67
2021-03-09    68
2021-03-10    69
2021-03-11    70
2021-03-12    71
2021-03-13    72
2021-03-14    73
2021-03-15    74
2021-03-16    75
2021-03-17    76
2021-03-18    77
2021-03-19    78
2021-03-20    79
2021-03-21    80
2021-03-22    81
2021-03-23    82
2021-03-24    83
2021-03-25    84
2021-03-26    85
2021-03-27    86
2021-03-28    87
2021-03-29    88
2021-03-30    89
2021-03-31    90
Freq: D, dtype: int64

In [191]:
dfdt=pd.DataFrame(s)
dfdt

             0
2021-03-01  60
2021-03-02  61
2021-03-03  62
2021-03-04  63
2021-03-05  64
2021-03-06  65
2021-03-07  66
2021-03-08  67
2021-03-09  68
2021-03-10  69
2021-03-11  70
2021-03-12  71
2021-03-13  72
2021-03-14  73
2021-03-15  74
2021-03-16  75
2021-03-17  76
2021-03-18  77
2021-03-19  78
2021-03-20  79
2021-03-21  80
2021-03-22  81
2021-03-23  82
2021-03-24  83
2021-03-25  84
2021-03-26  85
2021-03-27  86
2021-03-28  87
2021-03-29  88
2021-03-30  89
2021-03-31  90

In [192]:
dfdt=dfdt.reset_index()
dfdt.rename(columns={'index':'day',0:'day_of_year'},inplace=True)

In [193]:
dfdt

          day  day_of_year
0  2021-03-01           60
1  2021-03-02           61
2  2021-03-03           62
3  2021-03-04           63
4  2021-03-05           64
5  2021-03-06           65
6  2021-03-07           66
7  2021-03-08           67
8  2021-03-09           68
9  2021-03-10           69
10 2021-03-11           70
11 2021-03-12           71
12 2021-03-13           72
13 2021-03-14           73
14 2021-03-15           74
15 2021-03-16           75
16 2021-03-17           76
17 2021-03-18           77
18 2021-03-19           78
19 2021-03-20           79
20 2021-03-21           80
21 2021-03-22           81
22 2021-03-23           82
23 2021-03-24           83
24 2021-03-25           84
25 2021-03-26           85
26 2021-03-27           86
27 2021-03-28           87
28 2021-03-29           88
29 2021-03-30           89
30 2021-03-31           90

### create the following dataframe from the given dictionaries and set the index date from jan 01,2020 and print to the console

| |normal|   uniform|  binomial|
|---|---|---|---|
|2020-01-01|  0.496714|  0.167483 |        0
|2020-01-02| -0.138264|  0.104568|         0
|2020-01-03|  0.647689|  0.636430|         0
|2020-01-04|  1.523030|  0.706476|         0
|2020-01-05| -0.234153|  0.031586|         1
| |...|...|...|...
|2022-09-22| -0.281100|  0.280683|         1
|2022-09-23|  1.797687|  0.206993|         0
|2022-09-24|  0.640843|  0.516573|         0
|2022-09-25| -0.571179|  0.005506|         1
|2022-09-26|  0.572583|  0.007664|         0

[1000 rows x 3 columns]

```
np.random.seed(42)
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}
```

In [195]:
np.random.seed(42)
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

In [196]:
data_dict

{'normal': array([ 4.96714153e-01, -1.38264301e-01,  6.47688538e-01,  1.52302986e+00,
        -2.34153375e-01, -2.34136957e-01,  1.57921282e+00,  7.67434729e-01,
        -4.69474386e-01,  5.42560044e-01, -4.63417693e-01, -4.65729754e-01,
         2.41962272e-01, -1.91328024e+00, -1.72491783e+00, -5.62287529e-01,
        -1.01283112e+00,  3.14247333e-01, -9.08024076e-01, -1.41230370e+00,
         1.46564877e+00, -2.25776300e-01,  6.75282047e-02, -1.42474819e+00,
        -5.44382725e-01,  1.10922590e-01, -1.15099358e+00,  3.75698018e-01,
        -6.00638690e-01, -2.91693750e-01, -6.01706612e-01,  1.85227818e+00,
        -1.34972247e-02, -1.05771093e+00,  8.22544912e-01, -1.22084365e+00,
         2.08863595e-01, -1.95967012e+00, -1.32818605e+00,  1.96861236e-01,
         7.38466580e-01,  1.71368281e-01, -1.15648282e-01, -3.01103696e-01,
        -1.47852199e+00, -7.19844208e-01, -4.60638771e-01,  1.05712223e+00,
         3.43618290e-01, -1.76304016e+00,  3.24083969e-01, -3.85082280e-01,
        -6.76922000e-01,  6.11676289e-01,  1.03099952e+00,  9.31280119e-01,
        -8.39217523e-01, -3.09212376e-01,  3.31263431e-01,  9.75545127e-01,
        -4.79174238e-01, -1.85658977e-01, -1.10633497e+00, -1.19620662e+00,
         8.12525822e-01,  1.35624003e+00, -7.20101216e-02,  1.00353290e+00,
         3.61636025e-01, -6.45119755e-01,  3.61395606e-01,  1.53803657e+00,
        -3.58260391e-02,  1.56464366e+00, -2.61974510e+00,  8.21902504e-01,
         8.70470682e-02, -2.99007350e-01,  9.17607765e-02, -1.98756891e+00,
        -2.19671888e-01,  3.57112572e-01,  1.47789404e+00, -5.18270218e-01,
        -8.08493603e-01, -5.01757044e-01,  9.15402118e-01,  3.28751110e-01,
        -5.29760204e-01,  5.13267433e-01,  9.70775493e-02,  9.68644991e-01,
        -7.02053094e-01, -3.27662147e-01, -3.92108153e-01, -1.46351495e+00,
         2.96120277e-01,  2.61055272e-01,  5.11345664e-03, -2.34587133e-01,
        -1.41537074e+00, -4.20645323e-01, -3.42714517e-01, -8.02277269e-01,
        -1.61285712e-01,  4.04050857e-01,  1.88618590e+00,  1.74577813e-01,
         2.57550391e-01, -7.44459158e-02, -1.91877122e+00, -2.65138754e-02,
         6.02302099e-02,  2.46324211e+00, -1.92360965e-01,  3.01547342e-01,
        -3.47117697e-02, -1.16867804e+00,  1.14282281e+00,  7.51933033e-01,
         7.91031947e-01, -9.09387455e-01,  1.40279431e+00, -1.40185106e+00,
         5.86857094e-01,  2.19045563e+00, -9.90536325e-01, -5.66297730e-01,
         9.96513651e-02, -5.03475654e-01, -1.55066343e+00,  6.85629748e-02,
        -1.06230371e+00,  4.73592431e-01, -9.19424234e-01,  1.54993441e+00,
        -7.83253292e-01, -3.22061516e-01,  8.13517217e-01, -1.23086432e+00,
         2.27459935e-01,  1.30714275e+00, -1.60748323e+00,  1.84633859e-01,
         2.59882794e-01,  7.81822872e-01, -1.23695071e+00, -1.32045661e+00,
         5.21941566e-01,  2.96984673e-01,  2.50492850e-01,  3.46448209e-01,
        -6.80024722e-01,  2.32253697e-01,  2.93072473e-01, -7.14351418e-01,
         1.86577451e+00,  4.73832921e-01, -1.19130350e+00,  6.56553609e-01,
        -9.74681670e-01,  7.87084604e-01,  1.15859558e+00, -8.20682318e-01,
         9.63376129e-01,  4.12780927e-01,  8.22060160e-01,  1.89679298e+00,
        -2.45388116e-01, -7.53736164e-01, -8.89514430e-01, -8.15810285e-01,
        -7.71017094e-02,  3.41151975e-01,  2.76690799e-01,  8.27183249e-01,
         1.30018919e-02,  1.45353408e+00, -2.64656833e-01,  2.72016917e+00,
         6.25667348e-01, -8.57157556e-01, -1.07089250e+00,  4.82472415e-01,
        -2.23462785e-01,  7.14000494e-01,  4.73237625e-01, -7.28289127e-02,
        -8.46793718e-01, -1.51484722e+00, -4.46514952e-01,  8.56398794e-01,
         2.14093744e-01, -1.24573878e+00,  1.73180926e-01,  3.85317380e-01,
        -8.83857436e-01,  1.53725106e-01,  5.82087184e-02, -1.14297030e+00,
         3.57787360e-01,  5.60784526e-01,  1.08305124e+00,  1.05380205e+00,
        -1.37766937e+00, -9.37825040e-01,  5.15035267e-01,  5.13785951e-01,
         5.15047686e-01,  3.85273149e+00,  5.70890511e-01,  1.13556564e+00,
         9.54001763e-01,  6.51391251e-01, -3.15269245e-01,  7.58969220e-01,
        -7.72825215e-01, -2.36818607e-01, -4.85363548e-01,  8.18741394e-02,
         2.31465857e+00, -1.86726519e+00,  6.86260190e-01, -1.61271587e+00,
        -4.71931866e-01,  1.08895060e+00,  6.42800191e-02, -1.07774478e+00,
        -7.15303709e-01,  6.79597749e-01, -7.30366632e-01,  2.16458590e-01,
         4.55718399e-02, -6.51600348e-01,  2.14394409e+00,  6.33919022e-01,
        -2.02514259e+00,  1.86454315e-01, -6.61786465e-01,  8.52433335e-01,
        -7.92520738e-01, -1.14736441e-01,  5.04987279e-01,  8.65755194e-01,
        -1.20029641e+00, -3.34501236e-01, -4.74945311e-01, -6.53329233e-01,
         1.76545424e+00,  4.04981711e-01, -1.26088395e+00,  9.17861947e-01,
         2.12215620e+00,  1.03246526e+00, -1.51936997e+00, -4.84234073e-01,
         1.26691115e+00, -7.07669466e-01,  4.43819428e-01,  7.74634053e-01,
        -9.26930472e-01, -5.95253561e-02, -3.24126734e+00, -1.02438764e+00,
        -2.52568151e-01, -1.24778318e+00,  1.63241130e+00, -1.43014138e+00,
        -4.40044487e-01,  1.30740577e-01,  1.44127329e+00, -1.43586215e+00,
         1.16316375e+00,  1.02330610e-02, -9.81508651e-01,  4.62103474e-01,
         1.99059696e-01, -6.00216877e-01,  6.98020850e-02, -3.85313597e-01,
         1.13517345e-01,  6.62130675e-01,  1.58601682e+00, -1.23781550e+00,
         2.13303337e+00, -1.95208780e+00, -1.51785095e-01,  5.88317206e-01,
         2.80991868e-01, -6.22699520e-01, -2.08122250e-01, -4.93000935e-01,
        -5.89364757e-01,  8.49602097e-01,  3.57015486e-01, -6.92909595e-01,
         8.99599875e-01,  3.07299521e-01,  8.12862119e-01,  6.29628842e-01,
        -8.28995011e-01, -5.60181040e-01,  7.47293605e-01,  6.10370265e-01,
        -2.09015940e-02,  1.17327383e-01,  1.27766490e+00, -5.91571389e-01,
         5.47097381e-01, -2.02192652e-01, -2.17681203e-01,  1.09877685e+00,
         8.25416349e-01,  8.13509636e-01,  1.30547881e+00,  2.10038416e-02,
         6.81952971e-01, -3.10266757e-01,  3.24166352e-01, -1.30143054e-01,
         9.69959650e-02,  5.95157025e-01, -8.18220683e-01,  2.09238728e+00,
        -1.00601738e+00, -1.21418861e+00,  1.15811087e+00,  7.91662694e-01,
         6.24119817e-01,  6.28345509e-01, -1.22467728e-02, -8.97254371e-01,
         7.58045582e-02, -6.77161712e-01,  9.75119733e-01, -1.47057382e-01,
        -8.25497197e-01, -3.21385842e-01,  4.12931454e-01, -5.63724553e-01,
        -8.22220396e-01,  2.43687211e-01,  2.44966571e-01, -5.06943175e-01,
        -4.71038306e-01,  2.32049937e-01, -1.44808434e+00, -1.40746377e+00,
        -7.18444221e-01, -2.13447152e-01,  3.10907566e-01,  1.47535622e+00,
         8.57659623e-01, -1.59938530e-01, -1.90162079e-02, -1.00252936e+00,
        -1.85131360e-02, -2.88658639e-01,  3.22718560e-01, -8.27230944e-01,
         5.19346514e-01,  1.53273891e+00, -1.08760148e-01,  4.01711722e-01,
         6.90143992e-01, -4.01220472e-01,  2.24092482e-01,  1.25924008e-02,
         9.76760985e-02, -7.73009784e-01,  2.45101743e-02,  4.97998291e-01,
         1.45114361e+00,  9.59270826e-01,  2.15318246e+00, -7.67347563e-01,
         8.72320637e-01,  1.83342006e-01,  2.18980293e+00, -8.08298285e-01,
        -8.39721842e-01, -5.99392645e-01, -2.12389572e+00, -5.25755022e-01,
        -7.59132662e-01,  1.50393786e-01,  3.41755976e-01,  1.87617084e+00,
         9.50423838e-01, -5.76903656e-01, -8.98414671e-01,  4.91919172e-01,
        -1.32023321e+00,  1.83145877e+00,  1.17944012e+00, -4.69175652e-01,
        -1.71313453e+00,  1.35387237e+00, -1.14539845e-01,  1.23781631e+00,
        -1.59442766e+00, -5.99375023e-01,  5.24369972e-03,  4.69805938e-02,
        -4.50065471e-01,  6.22849932e-01, -1.06762043e+00, -1.42379485e-01,
         1.20295632e-01,  5.14438834e-01,  7.11614878e-01, -1.12464209e+00,
        -1.53411417e+00,  1.27767682e+00,  3.32314012e-01, -7.48486537e-01,
         1.55115198e+00,  1.15674634e-01,  1.17929718e+00,  6.75184814e-02,
         2.06074792e+00,  1.75534084e+00, -2.48964148e-01,  9.71570951e-01,
         6.45375950e-01,  1.36863156e+00, -9.64923461e-01,  6.86051460e-01,
         1.05842449e+00, -1.75873949e+00, -1.18325851e+00, -2.03923218e+00,
        -2.69406834e-01,  7.17542256e-01,  1.50235705e+00,  7.40947804e-02,
         1.62861555e+00, -1.38010146e+00, -1.70338244e+00, -5.55476989e-02,
         3.84065449e-01, -3.26947481e-02, -2.06744210e+00, -8.91200395e-02,
        -1.30446950e+00,  6.69672549e-01,  3.66598246e-01, -9.39879786e-01,
        -5.13866917e-01, -1.05921352e+00, -6.26790973e-02,  9.55142321e-01,
        -9.85726046e-01,  5.04046516e-01, -5.30257618e-01, -7.92872832e-01,
        -1.07030360e-01, -1.03524232e+00, -5.53649305e-01, -1.19787789e+00,
         1.96472513e+00,  3.52635520e-02, -6.99725508e-01,  2.13979911e-01,
        -1.12328050e-01, -2.20969600e-01,  6.14166700e-01,  7.57507710e-01,
        -5.30501148e-01, -5.75818241e-01, -2.75051697e-01, -2.30192116e+00,
        -1.51519106e+00,  1.36687427e+00,  1.64496771e+00, -2.49036040e-01,
         5.76556963e-01,  3.11250155e-01,  3.07888081e+00,  1.11957491e+00,
        -1.27917591e-01, -9.55540441e-01, -1.60644632e+00,  2.03463636e-01,
        -7.56350745e-01, -1.42225371e+00, -6.46572884e-01, -1.08154800e+00,
         1.68714164e+00,  8.81639757e-01, -7.97264132e-03,  1.47994414e+00,
         7.73683076e-02, -8.61284201e-01,  1.52312408e+00,  5.38910044e-01,
        -1.03724615e+00, -1.90338678e-01, -8.75618253e-01, -1.38279973e+00,
         9.26177548e-01,  1.90941664e+00, -1.39856757e+00,  5.62969237e-01,
        -6.50642569e-01, -4.87125384e-01, -5.92393924e-01, -8.63990770e-01,
         4.85216279e-02, -8.30950116e-01,  2.70456826e-01, -5.02381094e-02,
        -2.38948047e-01, -9.07563662e-01, -5.76771331e-01,  7.55391226e-01,
         5.00917188e-01, -9.77555245e-01,  9.93323054e-02,  7.51387123e-01,
        -1.66940528e+00,  5.43360192e-01, -6.62623759e-01,  5.70598669e-01,
        -7.63259157e-01, -1.80488210e+00, -1.62754244e+00,  4.80849467e-02,
         2.59722502e-01, -9.04316625e-01,  6.38592459e-01, -1.66152006e+00,
        -6.60797986e-02, -1.21101620e+00, -6.51836108e-01,  4.73986713e-02,
        -8.60413365e-01, -3.84555544e-01,  1.00629281e+00, -5.76891870e-01,
         8.35692112e-01, -1.12970685e+00,  5.29804178e-01,  1.44156862e+00,
        -2.47164450e+00, -7.96895255e-01,  5.77072127e-01, -2.03045386e-01,
         3.71145873e-01, -6.03985187e-01,  8.65897875e-02, -1.55677235e-01,
         1.16778206e+00,  2.54420843e-01,  3.37602662e-01, -4.11876966e-01,
        -4.87606224e-01, -4.32558188e-01,  3.94452142e-01, -4.20984481e-01,
         2.89774857e-01,  2.07540080e+00,  8.71124703e-01, -3.26023532e-01,
         1.20121392e+00, -4.08075373e-01, -2.03812454e+00, -1.00808631e+00,
        -1.87079192e+00, -3.51513484e-01,  1.84183792e-02,  1.67643731e+00,
         3.26927374e-01, -2.19100529e-01,  8.29405581e-01, -2.21113531e+00,
         2.35614558e-01,  7.70865194e-01, -1.47858625e+00,  1.14375404e+00,
         3.38496407e-01, -4.15287914e-01,  6.32781866e-01,  2.27069286e+00,
         1.81866255e-01,  2.48220586e-01, -4.59360900e-01, -8.49844369e-01,
         8.30335817e-01, -8.56083826e-01,  7.15662372e-02, -4.77657447e-01,
         4.78979826e-01,  3.33662105e-01,  1.03753994e+00, -5.10016399e-01,
        -2.69874935e-01, -9.78763716e-01, -4.44293260e-01,  3.77300493e-01,
         7.56988617e-01, -9.22165324e-01,  8.69605920e-01,  1.35563786e+00,
         4.13434903e-01,  1.87679581e+00, -7.73789199e-01, -1.24465470e+00,
        -1.77872025e+00,  1.49604431e+00,  6.54365656e-01, -5.55846709e-02,
         2.79968626e-01, -1.12548905e+00,  2.44575198e+00,  1.29221182e-01,
         1.09394795e-01,  7.25766624e-01,  4.81009232e-01,  2.23884024e-01,
        -7.90474455e-01,  4.71468357e-01,  1.88202450e+00,  1.34542005e+00,
         1.59318663e+00, -5.11215676e-01, -9.89604820e-01, -1.25786920e-01,
         5.57249123e-02,  1.09419152e+00, -1.69246463e+00,  1.52955032e+00,
        -1.58007899e-01, -4.26881070e-01, -1.01210438e+00, -1.65485667e+00,
         8.23170584e-01,  7.33179672e-02, -1.28996090e+00, -1.29507877e+00,
        -3.35784699e-01,  1.66902153e+00, -2.59591351e-01, -1.50314295e+00,
        -2.45743064e-01, -2.72723570e-01, -2.69688664e+00, -5.42948665e-02,
        -2.30934530e-01,  6.96206365e-01,  1.84895609e+00,  1.12656503e+00,
        -2.68888691e-01, -1.10652591e+00,  2.57335980e+00,  5.92184340e-02,
         1.39292919e-02, -2.41250871e-02,  1.98084761e-01, -1.44360412e-01,
        -5.73662007e-01, -5.46858941e-01, -3.27532702e-02, -5.43424771e-01,
        -7.12845783e-01,  1.06430228e-01, -2.54977217e-01,  1.50399299e+00,
        -2.65096981e+00,  1.09150685e+00,  1.24608519e+00, -2.07339023e+00,
        -3.42687594e-01, -3.71440866e-01, -1.40751169e+00, -7.77816688e-01,
        -1.11057585e+00,  1.75227044e+00,  9.35678393e-01,  1.27155509e+00,
         7.21672064e-01, -1.12905177e+00, -5.24520266e-01,  4.89374561e-01,
        -1.22212781e+00,  7.12998430e-01, -2.40325398e-01, -3.74820808e-01,
         7.10959968e-01,  4.44263311e-01, -3.60966166e-01,  1.15932980e+00,
        -1.08106333e+00,  6.15935607e-01,  5.93101258e-01, -3.09546439e-01,
         3.26133022e-01, -1.25111358e+00,  9.24027019e-01, -1.84902136e-01,
        -5.22723021e-01,  1.04900923e+00, -7.04343691e-01, -1.40846130e+00,
        -1.55662917e+00,  6.06009951e-01, -1.28042935e+00,  1.75479418e+00,
        -2.08192941e+00,  1.69645637e+00,  2.11017467e-01, -9.67131119e-02,
        -5.44919087e-01,  3.99136114e-01, -3.76347024e-02,  1.10330188e+00,
         1.14227649e-01,  1.50301761e-01, -3.63612212e-01, -5.69456237e-02,
         3.07801769e-01, -1.71016839e+00, -1.34818542e+00,  7.43264094e-01,
         1.70865438e-01, -1.83983336e-01,  1.84339331e-02,  3.47581705e-01,
        -5.39759680e-01, -7.78304725e-01,  1.95845255e-01, -9.78372778e-01,
         4.08252756e-01, -1.70258360e+00,  1.02915564e+00,  4.72597482e-01,
         2.56029734e-01,  9.82690984e-01,  1.66547444e+00,  1.01437007e+00,
        -1.84087423e+00, -1.27957697e+00, -6.24818578e-01,  2.60910502e-02,
         5.17659020e-01, -7.25743813e-01,  1.86766764e-01, -7.55382932e-01,
        -6.11517803e-01, -1.40666110e+00, -9.23233246e-01, -1.35168461e+00,
        -9.75873253e-01,  1.05364180e+00, -9.49398889e-01,  2.63238206e+00,
         4.93317901e-01,  1.84836124e-01, -8.58357780e-01,  7.00309879e-01,
        -5.75637826e-01,  1.22009815e-01,  2.56008454e+00, -9.60598997e-02,
         1.14927333e+00, -7.03176425e-01, -3.49884905e-02,  1.77080064e+00,
        -6.26967058e-01,  1.81244856e+00,  7.07751935e-01, -5.62466776e-01,
         6.32407739e-01,  9.72554450e-01,  6.21809962e-01, -1.57022472e+00,
        -7.27137176e-01, -2.47518636e-01, -7.44334291e-02,  6.20672098e-01,
         1.77701001e-01, -1.33534436e+00,  3.80197851e-01,  6.10585745e-01,
         5.59790448e-01,  1.08078073e+00,  8.33922155e-01,  4.59180079e-01,
        -7.01657115e-02, -1.66096093e+00,  4.29618219e-01,  2.07687687e-01,
         2.71578837e-01, -1.27674858e+00, -1.08105654e+00,  1.05315285e+00,
        -3.95551539e-02,  6.81500697e-01,  2.83183761e-02,  2.97561395e-02,
         9.38283806e-01, -5.16044728e-01,  9.61207769e-02, -4.62275289e-01,
        -4.34496227e-01, -3.09172123e-01,  2.22133772e-01, -4.78748622e-01,
         1.25575613e+00, -8.94607302e-01, -1.86871644e-01, -4.39731058e-01,
         1.44697788e+00,  1.96554777e-01,  1.03184454e+00, -1.48556037e+00,
         2.67050266e-01,  8.89630796e-01,  8.22839893e-02,  1.06548038e+00,
        -5.17288450e-01,  1.40934744e+00,  2.29889812e+00, -3.62838560e-01,
        -4.45502521e-01,  1.45338448e+00,  1.57957215e+00, -5.22860027e-01,
        -4.20186817e-01, -2.81784609e-01, -1.34445051e+00, -9.18651946e-01,
        -1.00414077e+00, -7.67797565e-01, -3.46848874e-02,  2.34214733e-01,
         1.55050049e+00, -9.98354041e-01,  9.84322398e-01, -2.13988844e-01,
        -4.94637097e-02,  6.74819492e-01, -1.12272202e+00,  3.82409746e-01,
         1.66452208e-01,  4.92451264e-01,  2.89168644e-01,  2.45530014e+00,
        -6.37739984e-01, -5.30996955e-01, -6.23140526e-01, -5.55477119e-01,
        -6.37387127e-01,  1.18901653e+00,  1.42050425e+00, -5.70746294e-01,
        -8.32355573e-01,  4.71415556e-01, -5.52223044e-01,  6.32931818e-01,
         2.02923021e-01, -1.51574411e+00,  1.54750520e+00,  1.79587767e+00,
        -6.12788690e-01, -3.87701560e-01,  2.85865391e-01,  3.34456790e-01,
         6.58544273e-01,  2.01020454e+00, -1.76947227e-01, -7.98297245e-01,
        -1.37931923e+00, -7.30930040e-01, -3.31269729e-02,  1.79455786e+00,
        -5.17611299e-01,  2.23787952e-01, -1.64228961e-02,  1.18839327e+00,
         2.52693243e+00, -5.30868773e-01, -4.89439443e-01,  1.04416088e+00,
         6.81891490e-01,  1.84670733e+00,  5.83928185e-01, -3.59292091e-01,
         5.90654831e-01,  1.10870358e+00,  8.20482181e-01,  5.07274031e-01,
         1.06667469e+00,  1.16929559e+00,  1.38215899e+00,  6.48709888e-01,
        -1.67118080e-01,  1.46713686e-01,  1.20650897e+00, -8.16935671e-01,
         3.68673309e-01, -3.93338812e-01,  2.87448229e-02,  1.27845186e+00,
         1.91099068e-01,  4.64365482e-02, -1.35985614e+00,  7.46253566e-01,
         6.45484181e-01,  2.16325472e+00, -3.07778235e-01,  2.19150328e-01,
         2.49383684e-01,  1.57745328e+00, -9.52955324e-02,  2.79021526e-01,
         6.07896510e-01,  1.86609123e-01, -4.46433615e-01,  1.94089993e-01,
         1.07363175e+00, -1.02651530e+00,  1.32969674e-01, -7.00120815e-01,
         1.19504663e+00, -1.52318690e+00, -5.58921847e-01,  3.77211875e-01,
         1.56552403e+00, -6.57502611e-02, -5.55199527e-01,  1.88115707e+00,
        -1.44801390e+00, -2.19880596e+00,  4.40014450e-01, -5.02054224e-01,
        -1.02123282e+00,  7.08356447e-01,  2.43800714e-01, -5.64078631e-01,
        -1.28030440e+00,  8.72457328e-01,  6.50201178e-01, -9.91758638e-02,
         1.84663700e+00, -1.07008477e+00, -1.52552517e+00, -6.91908070e-01,
        -4.55860164e-02,  2.43339449e-01, -2.41236058e-01,  3.52055397e-01,
        -1.25153942e+00,  1.44376460e+00, -8.21511784e-02,  1.11729583e+00,
         3.42725346e-01,  4.56753219e-01,  5.69767280e-01,  4.47708560e-01,
         6.42722760e-01,  1.32915253e+00,  1.96521170e-01,  7.09003758e-01,
        -8.97356943e-02,  1.44011722e+00, -6.76392302e-01,  1.80094043e+00,
        -4.01579506e-02, -1.43077510e+00,  1.28104415e-01, -6.81051657e-01,
         8.40643549e-01, -6.52623979e-01, -4.46183433e-01, -1.88954073e+00,
        -4.52306319e-01, -2.42387933e+00, -1.58390282e+00,  7.60414656e-01,
         7.85800159e-01,  4.25457562e-01, -9.66976143e-01, -4.77113561e-02,
        -3.60253909e-03, -1.15836469e+00,  1.50339830e+00,  8.77362291e-01,
        -2.20964174e-01,  2.68858390e-02,  2.08382808e-01, -2.04173487e+00,
        -2.47177383e-01, -6.81984248e-01, -1.00162001e+00, -2.81100293e-01,
         1.79768653e+00,  6.40842861e-01, -5.71178990e-01,  5.72582781e-01]),
 'uniform': array([0.16748258, 0.10456784, 0.63643025, 0.70647573, 0.03158614,
        0.93621225, 0.05197128, 0.54129634, 0.70906052, 0.87096912,
        0.71408693, 0.80172808, 0.33945019, 0.81482511, 0.08011485,
        0.89481666, 0.54759238, 0.81729777, 0.45231828, 0.6435777 ,
        0.52640266, 0.73158952, 0.08162998, 0.06035208, 0.24710323,
        0.15954468, 0.87178357, 0.21921399, 0.97586526, 0.33689579,
        0.18211792, 0.78969851, 0.65870778, 0.49819572, 0.55536355,
        0.71920178, 0.22845474, 0.99633392, 0.97479316, 0.65032569,
        0.19954245, 0.68022824, 0.07219841, 0.0306525 , 0.25768289,
        0.46262296, 0.86827251, 0.72716907, 0.74270652, 0.42549333,
        0.34593499, 0.37103876, 0.98764956, 0.04010919, 0.8670315 ,
        0.57867541, 0.43861542, 0.72525766, 0.48666894, 0.87342324,
        0.90070186, 0.42172093, 0.2768278 , 0.59235033, 0.91236335,
        0.21066219, 0.62296658, 0.63156022, 0.73311302, 0.13156769,

In [201]:
index=pd.date_range(start='2020-01-01',periods=len(dframe))
index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2022-09-17', '2022-09-18', '2022-09-19', '2022-09-20',
               '2022-09-21', '2022-09-22', '2022-09-23', '2022-09-24',
               '2022-09-25', '2022-09-26'],
              dtype='datetime64[ns]', length=1000, freq='D')

In [202]:
dframe=pd.DataFrame(data_dict)

In [205]:
dframe.set_index(keys=index,inplace=True)

In [206]:
dframe

              normal   uniform  binomial
2020-01-01  0.496714  0.167483         0
2020-01-02 -0.138264  0.104568         0
2020-01-03  0.647689  0.636430         0
2020-01-04  1.523030  0.706476         0
2020-01-05 -0.234153  0.031586         1
2020-01-06 -0.234137  0.936212         0
2020-01-07  1.579213  0.051971         0
2020-01-08  0.767435  0.541296         0
2020-01-09 -0.469474  0.709061         1
2020-01-10  0.542560  0.870969         0
2020-01-11 -0.463418  0.714087         0
2020-01-12 -0.465730  0.801728         0
2020-01-13  0.241962  0.339450         0
2020-01-14 -1.913280  0.814825         0
2020-01-15 -1.724918  0.080115         0
2020-01-16 -0.562288  0.894817         1
2020-01-17 -1.012831  0.547592         0
2020-01-18  0.314247  0.817298         0
2020-01-19 -0.908024  0.452318         1
2020-01-20 -1.412304  0.643578         0
2020-01-21  1.465649  0.526403         0
2020-01-22 -0.225776  0.731590         0
2020-01-23  0.067528  0.081630         0
2020-01-24 -1.424748  0.060352         0
2020-01-25 -0.544383  0.247103         1
2020-01-26  0.110923  0.159545         0
2020-01-27 -1.150994  0.871784         0
2020-01-28  0.375698  0.219214         0
2020-01-29 -0.600639  0.975865         1
2020-01-30 -0.291694  0.336896         1
...              ...       ...       ...
2022-08-28  0.128104  0.591697         0
2022-08-29 -0.681052  0.702634         0
2022-08-30  0.840644  0.237433         0
2022-08-31 -0.652624  0.512364         0
2022-09-01 -0.446183  0.104225         0
2022-09-02 -1.889541  0.384511         0
2022-09-03 -0.452306  0.487667         0
2022-09-04 -2.423879  0.652224         0
2022-09-05 -1.583903  0.950531         1
2022-09-06  0.760415  0.600651         1
2022-09-07  0.785800  0.743594         1
2022-09-08  0.425458  0.506266         0
2022-09-09 -0.966976  0.634104         0
2022-09-10 -0.047711  0.070932         0
2022-09-11 -0.003603  0.254392         0
2022-09-12 -1.158365  0.361853         0
2022-09-13  1.503398  0.472493         1
2022-09-14  0.877362  0.045649         1
2022-09-15 -0.220964  0.140024         0
2022-09-16  0.026886  0.276814         0
2022-09-17  0.208383  0.971533         0
2022-09-18 -2.041735  0.331347         1
2022-09-19 -0.247177  0.482041         1
2022-09-20 -0.681984  0.196098         0
2022-09-21 -1.001620  0.610780         0
2022-09-22 -0.281100  0.280683         1
2022-09-23  1.797687  0.206993         0
2022-09-24  0.640843  0.516573         0
2022-09-25 -0.571179  0.005506         1
2022-09-26  0.572583  0.007664         0

[1000 rows x 3 columns]

### from the dataframe created for the previous question, print the first ten rows and the an blank line and last five rows to console

In [208]:
print(dframe.head(10))
print()
print(dframe.tail(5))

              normal   uniform  binomial
2020-01-01  0.496714  0.167483         0
2020-01-02 -0.138264  0.104568         0
2020-01-03  0.647689  0.636430         0
2020-01-04  1.523030  0.706476         0
2020-01-05 -0.234153  0.031586         1
2020-01-06 -0.234137  0.936212         0
2020-01-07  1.579213  0.051971         0
2020-01-08  0.767435  0.541296         0
2020-01-09 -0.469474  0.709061         1
2020-01-10  0.542560  0.870969         0

              normal   uniform  binomial
2022-09-22 -0.281100  0.280683         1
2022-09-23  1.797687  0.206993         0
2022-09-24  0.640843  0.516573         0
2022-09-25 -0.571179  0.005506         1
2022-09-26  0.572583  0.007664         0

### from the dataframe created for the previous question, print the basic information regarding the dataframe and the a blank line and basic statistical info about dataframe to console

>use info() and describe()

In [213]:
print(f"{dframe.info()}\n\n{dframe.describe}")

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1000 entries, 2020-01-01 to 2022-09-26
Freq: D
Data columns (total 3 columns):
normal      1000 non-null float64
uniform     1000 non-null float64
binomial    1000 non-null int32
dtypes: float64(2), int32(1)
memory usage: 27.3 KB
None

<bound method NDFrame.describe of               normal   uniform  binomial
2020-01-01  0.496714  0.167483         0
2020-01-02 -0.138264  0.104568         0
2020-01-03  0.647689  0.636430         0
2020-01-04  1.523030  0.706476         0
2020-01-05 -0.234153  0.031586         1
2020-01-06 -0.234137  0.936212         0
2020-01-07  1.579213  0.051971         0
2020-01-08  0.767435  0.541296         0
2020-01-09 -0.469474  0.709061         1
2020-01-10  0.542560  0.870969         0
2020-01-11 -0.463418  0.714087         0
2020-01-12 -0.465730  0.801728         0
2020-01-13  0.241962  0.339450         0
2020-01-14 -1.913280  0.814825         0
2020-01-15 -1.724918  0.080115         0
2020-01-16 -0.562288  0.894817         1
2020-01-17 -1.012831  0.547592         0
2020-01-18  0.314247  0.817298         0
2020-01-19 -0.908024  0.452318         1
2020-01-20 -1.412304  0.643578         0
2020-01-21  1.465649  0.526403         0
2020-01-22 -0.225776  0.731590         0
2020-01-23  0.067528  0.081630         0
2020-01-24 -1.424748  0.060352         0
2020-01-25 -0.544383  0.247103         1
2020-01-26  0.110923  0.159545         0
2020-01-27 -1.150994  0.871784         0
2020-01-28  0.375698  0.219214         0
2020-01-29 -0.600639  0.975865         1
2020-01-30 -0.291694  0.336896         1
...              ...       ...       ...
2022-08-28  0.128104  0.591697         0
2022-08-29 -0.681052  0.702634         0
2022-08-30  0.840644  0.237433         0
2022-08-31 -0.652624  0.512364         0
2022-09-01 -0.446183  0.104225         0
2022-09-02 -1.889541  0.384511         0
2022-09-03 -0.452306  0.487667         0
2022-09-04 -2.423879  0.652224         0
2022-09-05 -1.583903  0.950531         1
2022-09-06  0.760415  0.600651         1
2022-09-07  0.785800  0.743594         1
2022-09-08  0.425458  0.506266         0
2022-09-09 -0.966976  0.634104         0
2022-09-10 -0.047711  0.070932         0
2022-09-11 -0.003603  0.254392         0
2022-09-12 -1.158365  0.361853         0
2022-09-13  1.503398  0.472493         1
2022-09-14  0.877362  0.045649         1
2022-09-15 -0.220964  0.140024         0
2022-09-16  0.026886  0.276814         0
2022-09-17  0.208383  0.971533         0
2022-09-18 -2.041735  0.331347         1
2022-09-19 -0.247177  0.482041         1
2022-09-20 -0.681984  0.196098         0
2022-09-21 -1.001620  0.610780         0
2022-09-22 -0.281100  0.280683         1
2022-09-23  1.797687  0.206993         0
2022-09-24  0.640843  0.516573         0
2022-09-25 -0.571179  0.005506         1
2022-09-26  0.572583  0.007664         0

[1000 rows x 3 columns]>

### find the distribution of binomial column from the dataframe and print to the console

> use value_counts()

In [214]:
dframe['binomial'].value_counts()

0    808
1    192
Name: binomial, dtype: int64

### extract the first 50 rows from the dataframe and save to the "dataframe50.csv" file

>use to_csv()

In [216]:
len(dframe[:50])

50

In [239]:
dframe[0:2]

              normal   uniform  binomial
2020-01-01  0.496714  0.167483         0
2020-01-02 -0.138264  0.104568         0

In [246]:
dframe[:50].to_csv("dataframe50.csv")

### load the "dataframe50.csv" to a new variable and print to the console

In [247]:
csv=pd.read_csv("dataframe50.csv")

In [248]:
csv

    Unnamed: 0    normal   uniform  binomial
0   2020-01-01  0.496714  0.167483         0
1   2020-01-02 -0.138264  0.104568         0
2   2020-01-03  0.647689  0.636430         0
3   2020-01-04  1.523030  0.706476         0
4   2020-01-05 -0.234153  0.031586         1
5   2020-01-06 -0.234137  0.936212         0
6   2020-01-07  1.579213  0.051971         0
7   2020-01-08  0.767435  0.541296         0
8   2020-01-09 -0.469474  0.709061         1
9   2020-01-10  0.542560  0.870969         0
10  2020-01-11 -0.463418  0.714087         0
11  2020-01-12 -0.465730  0.801728         0
12  2020-01-13  0.241962  0.339450         0
13  2020-01-14 -1.913280  0.814825         0
14  2020-01-15 -1.724918  0.080115         0
15  2020-01-16 -0.562288  0.894817         1
16  2020-01-17 -1.012831  0.547592         0
17  2020-01-18  0.314247  0.817298         0
18  2020-01-19 -0.908024  0.452318         1
19  2020-01-20 -1.412304  0.643578         0
20  2020-01-21  1.465649  0.526403         0
21  2020-01-22 -0.225776  0.731590         0
22  2020-01-23  0.067528  0.081630         0
23  2020-01-24 -1.424748  0.060352         0
24  2020-01-25 -0.544383  0.247103         1
25  2020-01-26  0.110923  0.159545         0
26  2020-01-27 -1.150994  0.871784         0
27  2020-01-28  0.375698  0.219214         0
28  2020-01-29 -0.600639  0.975865         1
29  2020-01-30 -0.291694  0.336896         1
30  2020-01-31 -0.601707  0.182118         1
31  2020-02-01  1.852278  0.789699         0
32  2020-02-02 -0.013497  0.658708         0
33  2020-02-03 -1.057711  0.498196         0
34  2020-02-04  0.822545  0.555364         0
35  2020-02-05 -1.220844  0.719202         0
36  2020-02-06  0.208864  0.228455         0
37  2020-02-07 -1.959670  0.996334         0
38  2020-02-08 -1.328186  0.974793         0
39  2020-02-09  0.196861  0.650326         0
40  2020-02-10  0.738467  0.199542         0
41  2020-02-11  0.171368  0.680228         0
42  2020-02-12 -0.115648  0.072198         0
43  2020-02-13 -0.301104  0.030653         0
44  2020-02-14 -1.478522  0.257683         0
45  2020-02-15 -0.719844  0.462623         0
46  2020-02-16 -0.460639  0.868273         0
47  2020-02-17  1.057122  0.727169         0
48  2020-02-18  0.343618  0.742707         1
49  2020-02-19 -1.763040  0.425493         0